/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    text-align: center; /* Center the text */
}

.header-content {
    display: -webkit-box; /* Safari, iOS, Android browser */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -webkit-box-pack: justify; /* Safari, iOS */
    -ms-flex-pack: justify; /* IE 10 */
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

header img {
    width: 120px;
    height: 140px; /* Set height to match width for perfect circle */
    border-radius: 50%; /* Create circular shape */
    position: absolute;
    top: 40px;
    left: 20px;
}

/* Add media query for mobile devices */
@media only screen and (max-width: 600px) {
    header img {
        position: static; /* Change position to static to display below text */
        margin-top: 20px; /* Add margin for spacing */
    }
}
