body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 10px 0;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section {
    margin: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
}
